---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import Carousel from "../components/carousel.vue";

import featuredImage from "../assets/images/featured.jpeg";
import logo from "../assets/images/logo.png";

import gallery1 from "../assets/images/gallery/1.png";
import gallery2 from "../assets/images/gallery/2.jpeg";
import gallery3 from "../assets/images/gallery/3.jpeg";
import gallery4 from "../assets/images/gallery/4.jpeg";
import gallery5 from "../assets/images/gallery/5.jpeg";

import carouselImage1 from "../assets/images/carousel/1.jpeg";
import carouselImage2 from "../assets/images/carousel/2.jpeg";
import carouselImage3 from "../assets/images/carousel/3.jpeg";
import carouselImage5 from "../assets/images/carousel/PW-005RS.jpeg";
import carouselImage6 from "../assets/images/carousel/PW-006C.jpeg";
import carouselImage7 from "../assets/images/carousel/PW-007.jpeg";
import carouselImage8 from "../assets/images/carousel/PW-008.jpeg";
import carouselImage9 from "../assets/images/carousel/PW-009.jpeg";
import carouselImage10 from "../assets/images/carousel/PW-012.jpeg";
import carouselImage11 from "../assets/images/carousel/PW-013.jpeg";
import iconInstagram from "../assets/images/icons/Instagram.svg";
import iconArrowRight from "../assets/images/icons/arrow_right.svg";
---

<Layout title="Pure Forged Wheels">
	<nav class="pa-2 fixed w-full top-0 z-10 bg-[#090707]">
		<div
			class="relative container mx-auto flex items-center gap-4 flex-wrap pb-14 justify-center md:pb-0"
		>
			<Image
				class="h-14 w-auto inline-block"
				src={logo}
				loading="lazy"
				alt="Pure Forged Wheels"
			/>
			<div class="flex justify-center flex-1 gap-4 whitespace-nowrap">
				<a href="#featured">Home</a>
				<a href="#about">About us</a>
				<a href="#wheels">Wheels</a>
				<a href="#gallery">Gallery</a>
				<a href="#dealers">Dealers</a>
			</div>

			<a
				class="bg-primary color-primary-foreground px-4 py-2 rounded-md inline-flex items-center gap-2 justify-center absolute bottom-2 left-50% translate-x--50% md:static"
				href="#contact"
			>
				<span>Get in touch</span>
				<Image class="h-5" src={iconArrowRight} loading="lazy" alt="" />
			</a>
		</div>
	</nav>
	<section class="min-h-100vh relative overflow-hidden" id="featured">
		<div class="flex-1 absolute inset-0 flex items-center min-h-full">
			<div class="container mx-auto px-8">
				<div class="max-w-480px">
					<h1 class="text-display mb-4">
						Elite <br /> CUSTOM <br /> WHEELS
					</h1>
					<p class="mb-8 max-w-85">
						Join the elite sports car community with wheels designed
						for passion, precision, and performance.
					</p>
					<a
						class="b-1 b-foreground color-foreground px-4 py-2 rounded-md inline-flex items-center gap-2 justify-center"
						href="#wheels">Explore Custom Wheels</a
					>
				</div>
			</div>
		</div>
		<Image
			class="h-100vh min-w-15/24 max-w-full object-cover w-auto float-right"
			src={featuredImage}
			loading="lazy"
			alt=""
		/>
	</section>

	<section class="min-h-50vh pa-8" id="about">
		<div class="container mx-auto text-center">
			<h2 class="color-muted2">About Us</h2>
			<h3 class="text-title-1 my-8">
				Driven by Passion, Built with Precision.
			</h3>
			<p class="text-body-md color-muted max-w-168 mx-auto">
				At Pure Wheels, we understand that your car is more than just a
				machine.<br />—its an extension of your lifestyle. We create
				wheels that balance aesthetics with safety and quality for the
				perfect performance on every ride.
			</p>
		</div>
	</section>

	<section class="min-h-50vh pa-8" id="wheels">
		<div class="container mx-auto">
			<h2 class="color-muted2 text-center">Our Wheel Collection</h2>
			<h3 class="text-title-1 my-8 text-center">
				Tailored for Every Drive.
			</h3>
			<Carousel client:only class="w-full max-w-824px mx-auto">
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage1}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-001</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage2}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-003</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage3}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-004</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage5}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-005RS</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage6}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-006C</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage7}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-007</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage8}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-008</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage9}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-009</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage10}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-012</strong></p>
					</div>
				</div>
				<div class="mr-4 rounded-md w-218px bg-white overflow-hidden">
					<Image
						class="h-48 object-cover"
						src={carouselImage11}
						loading="lazy"
						alt=""
					/>
					<div class="pa-2">
						<p class="color-black"><strong>PW-013</strong></p>
					</div>
				</div>
			</Carousel>
		</div>
	</section>

	<section class="min-h-50vh pa-8" id="gallery">
		<div class="container mx-auto text-center">
			<h2 class="color-muted2">Our Gallery</h2>
			<h3 class="text-title-1 my-8">
				Be Part of the Custom Sports Car Universe.
			</h3>
			<div
				class="w-full mx-auto aspect-ratio-2/1 grid grid-cols-4 grid-rows-2 gap-2 md:gap-5 mb-8"
			>
				<Image
					class="object-cover grid-col-span-2 grid-row-span-2 w-full h-full rounded-md"
					src={gallery1}
					loading="lazy"
					alt=""
				/>
				<Image
					class="object-cover w-full h-full rounded-md"
					src={gallery2}
					loading="lazy"
					alt=""
				/>
				<Image
					class="object-cover w-full h-full rounded-md"
					src={gallery3}
					loading="lazy"
					alt=""
				/>
				<Image
					class="object-cover w-full h-full rounded-md"
					src={gallery4}
					loading="lazy"
					alt=""
				/>
				<Image
					class="object-cover w-full h-full rounded-md"
					src={gallery5}
					loading="lazy"
					alt=""
				/>
			</div>
			<a
				class="b-1 b-foreground color-foreground px-4 py-2 rounded-md inline-flex items-center gap-2 justify-center"
				href="https://www.instagram.com/pure_forged_wheels?igsh=ejNqNHh5b2dqbTZk"
				target="_blank"
			>
				<Image class="h-4" src={iconInstagram} loading="lazy" alt="" />
				<span>Follow Us</span>
			</a>
		</div>
	</section>
	<section class="min-h-50vh pa-8" id="dealers">
		<div class="container mx-auto">
			<div class="text-center">
				<h2 class="color-muted2">Where you can find us</h2>
				<h3 class="text-title-1 my-8">Dealers</h3>
			</div>
			<div class="dealers mx-auto max-w-full gap-8 justify-center w-max">
				<div>
					<p><strong>SG Autoworks</strong></p>
					<p>
						<address>
							1544 Ree Lane unit 1<br />
							Kissimmee, Florida 34741
						</address>
					</p>
					<a href="tel:3214429971">(321) 442-9971</a>
				</div>
				<div>
					<p><strong>O Town Customs</strong></p>
					<p>
						<address>
							7204 aloma ave suite 200<br />
							Winter Park FL 32792
						</address>
					</p>
					<p><a href="tel:4073401239">407-340-1239</a></p>
					<p>
						<a href="mailto:prezzi@otowncustoms.com"
							>prezzi@otowncustoms.com</a
						>
					</p>
				</div>
				<div>
					<p><strong>StanceInn</strong></p>
					<p>
						<address>
							520 Washington St Unit C, Pembroke, MA 02359
						</address>
					</p>
					<p>
						<a href="mailto:stanceinnovators14@gmail.com"
							>stanceinnovators14@gmail.com</a
						>
					</p>
				</div>
				<div>
					<p><strong>WagnAir</strong></p>
					<p>
						<address>
							Herbertshainer Str. 50<br />
							97833 Frammersbach<br />
							Germany
						</address>
					</p>
					<p>
						<a href="tel:+499355904597">+49 9355 904597</a>
					</p>
					<p>
						<a href="mailto:info@wagnair.de">info@wagnair.de</a>
					</p>
				</div>
			</div>
		</div>
	</section>
</Layout>
<section class="min-h-50vh pa-8" id="contact">
	<div class="container mx-auto">
		<div class="text-center">
			<h2 class="color-muted2">Contact Us</h2>
			<h3 class="text-title-1 my-8">Get in touch</h3>
			<a
				href="mailto:info@pureforgedwheels.com"
				class="bg-primary color-primary-foreground px-4 py-2 rounded-md inline-flex items-center gap-2 justify-center"
			>
				<span>Send a message</span>
			</a>
		</div>
	</div>
</section>

<footer class="bg-[#090707] flex">
	<div class="container text-center mx-auto text-center py-8">
		<Image
			class="h-16 w-auto inline-block mb-4"
			src={logo}
			loading="lazy"
			alt="Pure Forged Wheels"
		/>
		<p>
			THESE PRODUCTS CAN EXPOSE YOU TO CHEMICALS WHICH ARE KNOWN BY THE
			STATE OF CALIFORNIA TO CAUSE CANCER, OR BIRTH DEFECTS, OR OTHER
			REPRODUCTIVE HARM. FOR MORE INFORMATION PLEASE VISIT
			<a href="https://www.p65warnings.ca.gov" target="_blank"
				>WWW.P65WARNINGS.CA.GOV</a
			>
		</p>
		<p class="color-muted2 text-3">© 2021 Pure Forged Wheels</p>
	</div>
</footer>

<style>
	.navbar {
		background-image: linear-gradient(
			to bottom,
			hsl(from #151515 h s calc(l * 2.5%)),
			#151515
		);
	}
	.grid-gallery {
		display: grid;
	}

	.dealers {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		place-content: center;
		justify-content: space-between;
	}
</style>
